<nav class="navbar" role="navigation" aria-label="main navigation">
<div class="navbar-brand">
<a class="navbar-item" [routerLink]="['/lists']">Home</a>
<!--<a class="navbar-item" [routerLink]="['/todaysTask']">Today's Task</a>-->
<a class="navbar-item" [routerLink]="['/completed-tasks']">Completed Tasks</a>
<a class="navbar-item" routerLink="/new-list">+ New List</a>
<button mat-button [matMenuTriggerFor]="menu" mat-flat-button color="accent" style="width: 110px;height: 40px;margin-top: 6.3px;margin-left: 52rem">User Id</button>
<mat-menu #menu="matMenu">
<button mat-menu-item *ngFor="let list of lists">{{list._userId}}</button>
</mat-menu>
<div class="navbar-end">
<div class="buttons">
<a class="button is-primary" href="/" style="margin-left:1rem;"><strong>Logout</strong></a>
</div>
</div>
</div>
</nav>


<div class="centered-content">
<div class="task-manager-container">

<div class="sidebar has-background-white">
<h1 class="title has-text-primary">
Lists
</h1>

<div class="list-menu">
<mat-list>
<mat-list-item *ngFor="let list of lists">
<a class="list-menu-item"  [routerLink]="['/lists', list._id]" routerLinkActive="is-active">
<mat-icon mat-list-icon>folder</mat-icon>
<div mat-line>{{ list.title }}</div>

</a>
</mat-list-item>
</mat-list>
</div>

<button class="button is-primary has-text-white" routerLink="/new-list">+ New List</button>

</div>

<div class="task-list-container has-background-light">
<div *ngIf="tasks">
<div class="top-bar">
<h1 class="title has-text-primary">
Tasks
</h1>
<div class="dropdown is-hoverable is-right">
<div class="dropdown-trigger">
<button class="button" aria-haspopup="true" aria-controls="dropdown-menu4">
<span class="icon is-small">
<i class="fas fa-cog" aria-hidden="true"></i>
</span>
</button>
</div>
<div class="dropdown-menu" id="dropdown-menu4" role="menu">
<div class="dropdown-content">
<a [routerLink]="['/edit-list', selectedListId]" class="dropdown-item">
Edit
</a>
<a (click)="onDeleteListClick()" class="dropdown-item has-text-danger">
Delete
</a>
</div>
</div>
</div>
</div>

<!-- Task Elements -->
<div class="task" *ngFor="let task of tasks" (click)="onTaskClick(task)" [ngClass]="{ 'completed': task.completed }">
<div class="task-text">
<b>Task Name: </b><p >{{task.title}}</p>
<b>Note: </b><p>{{task.note}}</p>
<b>Date: </b><p>{{task.date}}</p>
</div>
<h4 *ngIf="task.completed" class="comp1">Task is completed</h4>
<h4 *ngIf="!task.completed" class="comp2">Task is Incompleted</h4>
<div class="task-buttons">

<button class="button" [routerLink]="['/lists', selectedListId, 'edit-task', task._id]">
<div class="icon">
<i class="fas fa-edit"></i>
</div>
</button>


<button class="button is-danger" (click)="onDeleteTaskClick(task._id)" style="margin-left: 10px;">
<div class="icon">
<i class="fas fa-trash"></i>
</div>
</button>

</div>
</div>

<h3 class="empty-state-text" *ngIf="tasks.length === 0">There are no tasks here! Click the add button to create
a new task.</h3>

<button routerLink="./new-task" class="circle-add-button button is-primary" *ngIf="tasks.length ===0">
<img src="../../../assets/plus-icon.svg" class="has-text-white">
</button>
</div>

<div *ngIf="!tasks">
<h3 class="empty-state-text">Please select a list from the sidebar</h3>
</div>

</div>

</div>
</div>